DATABASE_URL=postgresql+psycopg2://cofeehub_user:cofeehub_pass@localhost:5432/cofeehub
SECRET_KEY=cambia-esta-clave-por-una-mas-segura-antes-de-entregar
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7
